<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% load static %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'login_reg/css/bootstrap.css' %}">
    <title>Handy Helper</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg" style="background-color: #EDEAE5; padding:20px; margin-bottom: 20px;">
            <h1 style="margin-right: 350px;">{{request.session.username}}, read about job {{current_job.id}}!</h1>
            <a href="/dashboard" class="btn btn-outline-primary" style="margin-right:30px;">Home</a>
            <a href="/log_out" class="btn btn-outline-primary">Log Out</a>
        </nav>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="jumbotron">
                    <h1>{{current_job.title}}</h1>
                    <h5>Description: {{current_job.description}}</h5>
                    <h5>Location: {{current_job.location}}</h5>
                    <ul>
                        {% for c in categories %}
                        <li>{{c.name}}</li>
                        {% endfor %}
                    </ul>
                    <p>Posted on: {{current_job.created_at}}</p>
                    <p>Created By: {{creator.first_name}} {{creator.last_name}}</p>
                </div>
                <div class="card" style="padding: 20px;">
                    <h3>Helpers</h3>
                    <ul>
                        {% for h in helper %}
                        <li>{{h.first_name}} {{h.last_name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>